@using System.Web.Configuration
@using QLNhanSu.Models

@{
    var email = Session["Email"];
    var lastName = Session["LastName"];
    var firstName = Session["FirstName"];

    var db = new BKI_HRMEntities();
    
    var roleAdmin = "admin";
    //var roleTruongBan = "TruongBan";
    var roleNhanVien = "nhanvien";
    var v_User = db.HT_USER.FirstOrDefault(m => m.USERNAME == (string)email);
    var maNhanVien = "";
    if (v_User != null)
    {
        maNhanVien = v_User.BHYT;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Quản lý nhân sự</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/jquery.treetable.css" rel="stylesheet" />
    <link href="~/Content/jquery.treetable.theme.default.css" rel="stylesheet" />
    <link href="~/Content/screen.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <input type="hidden" id="base-url" value="@WebConfigurationManager.AppSettings["BaseURL"]"/>
    <input type="hidden" id="sub-domain" value="@WebConfigurationManager.AppSettings["SubDomain"]"/>
    <input type="hidden" id="ma-nhan-vien" value="@maNhanVien"/>
    <!-- NavBar-top -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="@Url.Content("~/Images/logo.png")" id="logo">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @{
                    if (v_User == null)
                    {
                        <ul class="nav navbar-nav">
                            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span>&nbsp;TRANG CHỦ</a></li>
                        </ul>
                    }
                    else
                    {
                        if (v_User.HT_USER_GROUP_WEB.DESCRIPTION == roleAdmin)
                        {
                            <ul class="nav navbar-nav">
                                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span>&nbsp;TRANG CHỦ</a></li>
                                <li><a href="@Url.Action("F201_DanhMucNhanVien", "HeThong")"><span class="glyphicon glyphicon-wrench"></span>&nbsp;Danh mục người dùng</a></li>
                                <li class='dropdown'>
                                    <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
                                        <span class="glyphicon glyphicon-list-alt"></span>&nbsp;BÁO CÁO&nbsp;<span class='caret'></span>
                                    </a>
                                    <ul class='dropdown-menu' role='menu'>
                                        <li><a href='@Url.Action("F101_CoCauTopica", "Report")'><span class="glyphicon glyphicon-tree-conifer"></span>&nbsp;Cơ cấu TOPICA</a></li>
                                        <li><a href='@Url.Action("F102_TraCuuQuaTrinhLamViecCaNhan", "Report")'><span class="glyphicon glyphicon-calendar"></span>&nbsp;Tra cứu quá trình làm việc của cá nhân</a></li>
                                        <li><a href='@Url.Action("F103_TraCuuThuNhapCaNhan", "Report")'><span class="glyphicon glyphicon-gift"></span>&nbsp;Tra cứu thu nhập của cá nhân</a></li>
                                        <li><a href='@Url.Action("F104_ThongTinNhanVien", "Report")'><span class="glyphicon glyphicon-leaf"></span>&nbsp;Thông tin nhân viên</a></li>
                                        @*<li><a href='@Url.Action("F106_ThuNhapCuaCacNhanVienTrongPhongBan", "Report")'><span class="glyphicon glyphicon-fire"></span>&nbsp;Thu nhập của các nhân viên trong phòng ban</a></li>*@
                                    </ul>
                                </li>
                            </ul>
                        }
                        if (v_User.HT_USER_GROUP_WEB.DESCRIPTION == roleNhanVien)
                        {
                            <ul class="nav navbar-nav">
                                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span>&nbsp;TRANG CHỦ</a></li>
                                <li class='dropdown'>
                                    <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
                                        <span class="glyphicon glyphicon-list-alt"></span>&nbsp;BÁO CÁO&nbsp;<span class='caret'></span>
                                    </a>
                                    <ul class='dropdown-menu' role='menu'>
                                        <li><a href='@Url.Action("F101_CoCauTopica", "Report")'><span class="glyphicon glyphicon-tree-conifer"></span>&nbsp;Cơ cấu TOPICA</a></li>
                                        <li><a href='@Url.Action("F102_TraCuuQuaTrinhLamViecCaNhan", "Report")'><span class="glyphicon glyphicon-calendar"></span>&nbsp;Tra cứu quá trình làm việc của cá nhân</a></li>
                                        <li><a href='@Url.Action("F103_TraCuuThuNhapCaNhan", "Report")'><span class="glyphicon glyphicon-gift"></span>&nbsp;Tra cứu thu nhập của cá nhân</a></li>
                                    </ul>
                                </li>
                            </ul>
                        }
                    }
                }


                <section id="login">
                    <ul class="nav navbar-nav navbar-right">
                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink(firstName + " " + lastName, "F104_ThongTinNhanVien", "Report", new { @class = "username", title = "Manage" })</li>
                            <li>
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                                }
                            </li>
                        }
                        else
                        {
@*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
                            <li>
                                @using (Html.BeginForm("Authenticate", "Login"))
                                {                 
                                    <input type="submit" value="Login" id="btnLoginGoogle" />
                                }
                                @*@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
                            </li>
    
                        }
                    </ul>
                </section>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- End nav-bar-top -->

    <div class="container-fluid" id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="container">
            <p class="footer-float-left">&copy; @DateTime.Now.Year - HRM Quản lý nhân sự</p>
        </div>
    </footer>

    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-table.js"></script>
    <script src="~/Scripts/jquery.treetable.js"></script>
    <script src="~/Scripts/selectize.js"></script>
    <script src="~/Scripts/index.js"></script>
    <script src="~/Scripts/jquerybki.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
