@model string

<ul class="nav navbar-nav navbar-right">
    @if (Request.IsAuthenticated)
    {
        <li><a href="@Url.Action("F104_ThongTinNhanVien", "Report")">@Model</a></li>
        <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Thoát</a>
            }
        </li>
    }
    else
    {
@*<ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>*@
    }

</ul>
